.masthead {
  height: 100vh;
  min-height: 800px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-item img {
  width: auto;
  height: 800px;
  margin: auto;
}