.masthead {
  height: 100vh;
  min-height: 800px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-item img {
  width: auto;
  margin: auto;
}

@media only screen and (max-width: 300px) {
  .carousel-item img {
    height: 100px;
  }
  h1{
    font-size: 20px;
  }
  h2.lead {
    font-size: 10px;
  }
  .navbar-brand{
    font-size: 10px;
  }
}

@media (min-width: 301px) and (max-width: 599px) {
  .carousel-item img {
    height: 250px;
  }
  h1{
    font-size: 25px;
  }
  h2.lead {
    font-size: 15px;
  }
  .navbar-brand{
    font-size: 15px;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .carousel-item img {
    height: 400px;
  }
}

@media (min-width: 901px){
  .carousel-item img {
    height: 800px;
  }
}